body {
  text-align: center;
  /*font-family: 'Orbitron', sans-serif;*/
  /*font-family: 'Press Start 2P', cursive;*/
  font-family: 'Monoton', cursive;
  color: crimson;
  font-size: 30em;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background: white;
}

.black {
  background: black;
}

#mode {
  z-index: 99;
}
